@page "/fetchdata"

<h1>SpaceX Launches</h1>

<p>This is a list of SpaceX launches from api.spacex.land.</p>

@if (launches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table-striped table-bordered table-sm ">
        <thead>
            <tr>
                <th>Id</th>
                <th>isTentative</th>
                <th>Launch Date</th>
                <th>Mission Name</th>
                <th>isUpcoming</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var launch in launches)
            {
                <tr>
                    <td>@launch.Id</td>
                    <td>@launch.IsTentative</td>
                    <td>@launch.LaunchDateLocal.DateTime.ToShortDateString()</td>
                    <td style="min-width:150px; max-width:300px">@launch.MissionName</td>
                    <td>@launch.Upcoming</td>
                    <td style="max-width:800px">@launch.Details</td>
                </tr>
            }
            <tr>
                <td colspan="6">Records: @launches.Count()</td>
            </tr>

        </tbody>
    </table>
}
